<div id="maincontent">
  <div class="top"></div>
  <div id="content_newweb">
    <table cellpadding="0" cellspacing="0" border="0" >
      <tr>
        <td colspan="7" style="padding-right:20px;"><div id="title"><strong>De nieuwe DVDpost site in enkele woorden</strong></div>
          <p>Het volledige DVDPost team stelt  met veel plezier UW nieuwe  filmverhuur site voor, deze is eenvoudiger, mooier , effici&euml;nter en performanter dan de vorige en wij hopen dat u hem evenveel  zal appreci&euml;ren als wij.</p></td>
        </tr>
        <tr>
          <td align="left" colspan="7"><p class="zoom"><strong>Meer Filters om u te helpen zoeken</strong><br />
            Deze zijn zeer nauwkeurig en zeer effici&euml;nt samen met de zoekmotor en de 50 filmcategori&euml;n. U kan uw keuze heel precies bepalen dank zij &eacute;&eacute;n van de onderstaande filters :
          </p></td>
        </tr>
        <tr>
          <td colspan="2" align="left"><a href="/nl/products"><img src="/images/filtres_cap.jpg" border="0" /></a></td>
          <td colspan="5">
            <ul class="list_new">
              <li><strong>de talenkeuze en ondertiteling</strong> : <font color="#454545"> voor de fans van de oorspronkelijke versies</font></li>
              <li><strong>De gemiddelde beoordeling</strong> <font color="#454545"> van de DVDPost klanten</font></li>
              <li><strong>Het  DVD</strong><font color="#454545"> of  </font><strong>Blu-ray formaat </strong> </li>
              <li><strong>Het aangepaste publiek : </strong> <font color="#454545">om ervoor te zorgen dat kinderen beschermd worden enz.</font></li>
              <li><strong>Het jaar dat de film uitkwam :  </strong><font color="#454545"> mocht u fan zijn van &eacute;&eacute;n welbepaalde filmperiode</font></li>
              <li><strong>Het land waar de film vandaan komt :  </strong><font color="#454545"> voor de amateurs van films uit Korea, Itali&euml;, Chile enz</font></li>
            </ul></td>
          </tr>
          <tr>
            <td colspan="7" height="30"></td>
          </tr>
          <tr>
            <td valign="top" colspan="5">
              <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td valign="top"><img src="/images/icon_star.gif"  /></td>
                  <td width="7"></td>
                  <td width="600"><p><strong>IVerbeterd aanbevelingssysteem</strong><br />
                    Gebruik het om films te vinden die u zullen bekoren. Binnenkort, vindt u een beoordeling per film maar ook suggesties van gelijkaardige films en aanbevolen door andere klanten.<br />
                    Vergeet niet een  score toe te kennen aan uw films&nbsp;: hoe meer info er wordt opgeslagen, hoe correcter en pertinenter de beoordelingen.<br />
                    <br />
                  </p></td>
                  <tr>
                    <td valign="top"><img src="/images/icon_list.gif"/></td>
                    <td width="7"></td>
                    <td width="600"><p><strong>Filmlijst optimaal beheren</strong><br />
                      Uw lijst kan met 1 klik worden aangepast. Daarbovenop geeft een &quot;lijstmeter&quot; de stand weer van uw lijst.  Indien deze op groen staat,  is alles ok. Staat hij op geel of rood, dan moet u zogauw mogelijk nieuwe titels aan uw lijst toevoegen.<br />
                    </p>
                    <br /></td>
                    <tr>
                      <td valign="top"><img src="/images/icon_parrainage.gif"/></td>
                      <td width="7"></td>
                      <td width="600"><p><strong>Nieuw doorverwijzingssysteem : "Tell a Friend"</strong><br />
                        U vindt DVDPost goed, zeg het dan door&nbsp;! Met het nieuwe doorverwijzingssysteem kan u&nbsp;:</p>
                        <p>
                          <span class="commande_card"><%= link_to '* een 1 maand (4 huurfilms) gratis proefaanbod', sponsorships_path %></span> geven aan wie u wil, zonder dat de betroffene enige verplichting aangaat.<br />
                          * Prachtige geschenken winnen, want telkens een door u doorverwezen persoon een abonnement opneemt bij DVDPost, wint u 200punten.</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" colspan="2"><img src="/images/pageweb_cap.jpg" /></td>
                </tr>
                <tr>
                  <td colspan="7" height="30"></td>
                </tr>
                <tr>
                  <td width="165" valign="top"> <img src="/images/summercard.gif" width="162" height="130"/></td>
                  <td width="11"></td>
                  <td width="318" valign="top" class="box_bottom">
                    <p><strong>"Summer Card" Special</strong><br />
                      Tot 30 september 2010, kan u speciale geschenkkaarten bestellen die recht geven op een 2 maanden (8 huurfilms)gratis proefaanbod. U geeft een waardevoller geschenk aan uw dierbaren en uzelf kan meer punten winnen.<br />
                      <span class="commande_card"><%= link_to '<strong>Om bijkomende geschenkkaarten te bestellen, klik hier.</strong>', sponsorships_path %></span>
                    </p>
                  </td>
                  <td width="7"></td>
                  <td width="79" align="right"  valign="top"><img src="/images/icon_rss.gif" /></td>
                  <td width="14"></td>
                  <td width="306" valign="top" class="box_bottom"><p><strong>Info en nieuws</strong><br />
                    DVDPost is een expert voor alles wat met film te maken heeft. Onze redactie heeft besloten u via onze site en nieuwsbrief regelmatig in te lichten over de nieuwe films,  haar mening te geven over de beste films op dit moment en uit te weiden over bepaalde originele thema's.</p>
                  </td>
                </tr>
              </table>
              <div class="end"></div>
            </div>
          </div>
