<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent">
  <div id="concours-wrap">
    <div class="ttl">
      Quizz Cinéma
    </div>
    <div id="titles-wrap">
      <div class="top"></div>
      <h3>
        Quizz du mois
      </h3>
      <div id="quizz-mois" class="clearfix">
        <div id="video-wrap">
          <%= render :partial => 'quizzes/show/flash', :locals => {:quizz => @quizz_name, :customer => current_customer} %>
        </div>
        <h3 align="center">
          60 secondes pour tester vos connaissances cinéma
        </h3>
        <p>
          Répondez à autant de questions que vous le pouvez en 60 secondes. Plus vous répondez vite, plus vous gagnez de points.
        </p>
        <p>
          Cliquez sur le bouton "JOUER" pour commencer.
        </p>
        <p>
          Vous pouvez jouer autant de fois que vous voulez. Seul le meilleur score sera retenu.
        </p>
      </div>
      <h3>Quizz précédents</h3>
      <div id="carousel-wrap">
        <%= render :partial => 'quizzes/show/carousel', :locals => { :previous_list => @previous_list } %>
      </div>

      <div class="end"></div>
    </div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<!--   ==============   LEFT COLUMN   ==============   -->
<%= render :partial => 'contests/menu' %>
<!--   ==============   END LEFT COLUMN   ==============   -->
