<div id="contact-wrap">
  <%= render :partial => 'messages/menu' %>
  <div id="tabs-content">
    <%= render :partial => '/messages/index/messages', :locals => {:messages => @messages} %>
  </div>
</div>
