<div id="contact-wrap">
  <%= render :partial => 'messages/menu', :locals => {:active_menu => 'question'} %>
  <div id="tabs-content">
    <%= render :partial => '/messages/new/question' %>
  </div>
</div>
