<div id="title" class="payment align_center">
  Modification de votre mode de paiement
</div>
<div class='payment_confirm' id='payment_ogone'>
<p>
  La modification s'est correctement déroulée. A partir d'aujourd'hui, le montant de votre abonnement sera automatiquement débité de votre carte de crédit
</p>
  