<div id="title" class="payment align_center">
  <%= t '.title' %>
</div>
<div class='payment_body light' id='payment_ogone'>

  <p>
    <%= t '.description', :free_phone_number => DVDPostConfig[:phone_number] %>
  </p>
</div>
<table align="right" class="bouton_probleme">
  <tr>
    <td>
      <%= image_tag 'logo_ogone_big.gif', :alt => 'ogone logo', :title => 'ogone logo', :width => 130, :height => 66 %>
    </td>
    <td>
      <% form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param, :type => :modification), :html => { :method => :put }) do |f| %>
      <td style="padding-top: 10px; padding-left: 10px;"  class="bouton_probleme">
        <%= submit_tag t('.confirm'), :id => "submit_payment_confirm", :class => :submit %>
      </td>
      <% end %>
      
    </td>
  </tr>
</table>
