<li>
  <span class="stars">
    <%= rating_image_small(recommendation) %>
  </span>
  <span class="dvd">
    <%= product_image_tag recommendation.image, :width => 76, :height => 118, :alt => "#{recommendation.title} (#{recommendation.year})" %>
    <span class="new"></span>
  </span>
  <a href="#" class="like-btn"><%= t '.add' %></a>
  <%= recommendation.title %>
</li>