<li>
  <span class="stars">
    <img src="/images/sm-star-on.png" alt="" />
    <img src="/images/sm-star-on.png" alt="" />
    <img src="/images/sm-star-on.png" alt="" />
    <img src="/images/sm-star-on.png" alt="" />
    <img src="/images/sm-star-off.png" alt="" />
  </span>
  <span class="dvd">
    <img src="/images/poster-mid.jpg" alt="" />
    <span class="new"></span>
  </span>
  <a href="#" class="like-btn">Ajouter</a>
  <%= product.title %>
</li>