<div id="carousel-wrap">
  <h2>
    <%= t '.title' %>
  </h2>
  <div id="carousel">
    <ul id="carousel-content">
      <%= render :partial => 'products/show/recommendation', :collection => recommendations %>
    </ul>
    <a href="#" class="like-btn" id="prev">Previous</a>
    <a href="#" class="like-btn" id="next">Next</a>
  </div>
</div>