<div id="question" style='display:none'>          
  <form method="post" action="">
    <h3>Cochez sur le lien qui correspond le plus à votre question. Vous y trouverez probablement déjà une réponse, et si ce n'est pas le cas, vous aurez la possibilité de nous l'adresser dans chacune des rubriques.</h3>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Problème avec un DVD (cassé, perdu, mauvais DVD envoyé, retardé, etc...)</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Problème avec votre facturation (montant, activation, etc...)</label>
    <label><input name="categorie_id" type="radio" value="" class="categorie" /> J'ai droit à Y DVD et n'en reçois que X</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Question concernant un paiement par domiciliation bancaire</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Problème avec un code promotion</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Modifier mes coordonnées personnelles</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Modifier mon adresse de livraison.</label>
    <label><input name="categorie_id" type="radio" value="" class="categorie" /> Modifier mon adresse email ou mon mot de passe</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Oubli de mon mot de passe</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Je ne parviens pas à rajouter des titres à ma liste</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Erreur technique</label>
		<label><input name="categorie_id" type="radio" value="" class="categorie" /> Départ en vacances</label>
    <label><input name="categorie_id" type="radio" value="" class="categorie" /> Autres</label>
		<p>Merci de nous faire part du problème rencontré</p>
		<textarea rows="" cols=""></textarea>
		<button type="submit" class="like-btn">Envoyer</button>
  </form>
  <div class="clear"></div>
</div>
