<ul class="list_options" id="guide_output">
  <li class="hdmi" id="out_hdmi">
    <input type="radio" value="hdmi" id="out_hdmi" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">HDMI</p>
  </li>
  <li id="out_dvi" class="dvi">
    <input disabled="disabled" class="options_input" id="out_dvi" value="dvi" type="radio">
    <div class="guide_checkbox"></div>
    <p class="connector_type">DVI</p>
  </li>
  <!-- removing mini dvi
    <li id="out_minidvi" class="minidvi">
        <input type="radio" class="options_input" id="out_minidvi" value="out_minidvi"/>
        <div class="guide_checkbox"></div>
        <p class="connector_type">Mini DVI</p>
    </li>
    -->
  <li class="vga" id="out_vga">
    <input type="radio" value="vga" id="out_vga" class="options_input">
    <div class="guide_checkbox"></div>
    <p class="connector_type">VGA</p>
  </li>
  <li id="out_svideo" class="svideo">
    <input disabled="disabled" class="options_input" id="out_svideo" value="svideo" type="radio">
    <div class="guide_checkbox"></div>
    <p class="connector_type">S-Video</p>
  </li>
</ul>