<ul id="guide_input" class="list_options" style="display: block;">
  <li class="hdmi" id="in_hdmi" style="display: none;">
    <input type="radio" value="hdmi" id="in_hdmi" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">HDMI</p>
  </li>
  <!--<li class="dvi" id="in_dvi" style="display: none;">
    <input type="radio" value="dvi" id="in_dvi" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">DVI</p>
  </li>-->
  <li class="vga_<%= I18n.locale %>" id="in_vga" style="display: none;">
    <input type="radio" value="vga" id="in_vga" class="options_input">
    <div class="guide_checkbox"></div>
    <p class="connector_type">VGA</p>
  </li>
  <li class="component" id="in_component" style="display: none;">
    <input type="radio" value="component" id="in_component" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">Component</p>
  </li>
  <li class="scart" id="in_scart" style="display: none;">
    <input type="radio" value="scart" id="in_scart" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type"><%= t('.scart')%></p>
  </li>
  <!--<li class="svideo" id="in_svideo" style="display: none;">
    <input type="radio" value="svideo" id="in_svideo" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">S-Video</p>
  </li>
  <li class="composite" id="in_composite" style="display: none;">
    <input type="radio" value="composite" id="in_composite" class="options_input" disabled="">
    <div class="guide_checkbox"></div>
    <p class="connector_type">Composite</p>
  </li>-->
</ul>