<% path = carousel_path(carousel_item) %>
<div class="panel">
  <div class="capt">
    <h2><%= link_to t(".name_#{carousel_item.id}"), path %></h2>
    <ul>
      <li>
        <%= link_to t(".link_#{carousel_item.id}"), path, :class => :rent %>
      </li>
      <% if carousel_item.type == 'MOVIE' && carousel_item.product.trailer %>
      <li class="delim"></li>
      <li>
        <%= link_to(t('.trailer'), carousel_item.product.trailer.url, {:class => 'trailer', :target => :_blank}) %>
      </li>
      <% end %>
    </ul>
  </div>
  <%= link_to image_tag(carousel_item.image, :alt => carousel_item.name), path %>
</div>
