<div class="panel">
  <div class="capt">
    <h2><%= carousel_item.name %></h2>
    <ul>
      <li><a href="#" id="rent">Louer</a></li>
      <li class="delim"></li>
      <li><a href="#" id="trailer">Bande-annonce</a></li>
    </ul>
  </div>
  <img src="http://www.dvdpost.be/images/dvdpost_public/landings/<%= carousel_item.id %>.jpg" alt="" /> 
</div>