<div id="tabs-rotator">
  <ul id="tabs">
    <li><a href="#" id="1"><strong>SPECIAL</strong> Vampires</a></li>
    <li><a href="#" id="2"><strong>TOP 10</strong> des locations</a></li>
    <li><a href="#" id="3"><strong>AU cinéma</strong> en ce moment</a></li>
    <li><a href="#" class="active" id="4"><strong>Nouveauté</strong> de la semaine</a></li>
    <li><a href="#" id="5"><strong>PROCHAINEMENT</strong> chez DVDPost</a></li>
  </ul>
  <div class="panels">
    <%= render :partial => '/home/index/carousel_item', :collection => carousel %>
  </div>
</div>