<div id="tabs-rotator">
  <ul id="tabs">
    <%= render :partial => '/home/index/carousel_item_title', :collection => carousel %>
  </ul>
  <div class="panels">
    <%= render :partial => '/home/index/carousel_item', :collection => carousel %>
  </div>
</div>