<div id="alert" class="credit_empty">
  <%= t '.title', :reconduction_date => current_customer.subscription_expiration_date.strftime("%d/%m/%Y"), :link =>  edit_customer_recondution_path(:locale=> I18n.locale, :customer_id => current_customer.to_param) %> 
</div>
