<div id="message" class="credit_empty">
<h4>
  <%= t('.title', :reconduction_date => current_customer.subscription_expiration_date.strftime("%d/%m/%Y"), :link => 'http://www.dvdpost.be/basic_reconduction_info.php') %> 
</h4>
</div>