<div id="alert" class="credit_empty">
  <%= t('.title', :reconduction_date => current_customer.subscription_expiration_date.strftime("%d/%m/%Y"), :link => "#{php_path}basic_reconduction_info.php") %> 
</div>