<li> <!--<img src="/images/news1.gif" alt="" class="left" />-->
  <h3><%= news_item.title %></h3>
  <p><%= news_item.description %></p>
  <!--<p class="more"><a href="#">Lire la suite</a></p>-->
</li>