<div id='home_recommendations'>
  <ul class="ttls-nav" id="recom">
    <li>
      <h3>
        <%= t '.title' %>
      </h3>
    </li>
  </ul>
  <!-- Carousel -->
  <div id="carousel-wrap-hp">
    <div id="carousel">
      <% if products && products.size > 0 %>
        <ul>
          <%= render :partial => 'home/index/popular_product', :collection => products %>
        </ul>
        <%= will_paginate products, :previous_label => 'Prev', :next_label => '', :page_links => false, :param_name => :popular_page, :id => 'prev', :class => 'like-btn', :container => false %>
        <%= will_paginate products, :previous_label => '', :next_label => 'Next', :page_links => false, :param_name => :popular_page, :id => 'next', :class => 'like-btn', :container => false %>
      <% else %>
        <br />
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
