<ul class="ttls-nav" id="recom">
  <li>
    <h3 class="hp-ttls">Recommandations</h3>
  </li>
  <li><a href="#">Voir toutes mes recommandations</a></li>
</ul>
<!-- Carousel -->
<div id="carousel-wrap-hp">
  <div id="carousel">
    <ul>
      <%= render :partial => 'home/index/recommendation_product', :collection => products %>
    </ul>
    <a href="#" class="like-btn" id="prev">Previous</a>
    <a href="#" class="like-btn" id="next">Next</a>
  </div>
</div>
<div class="clear"></div>