<h3>
  <% view_mode = (id == 'new') ? 'recent' : 'soon' %>
  <%= t ".#{id}" %> <%= link_to t(".see_all"), products_path(:view_mode => view_mode), :class => :small %>
</h3>
<ul class="clearfix">
  <%= render :partial => 'home/index/advertising_product', :collection => products %>
</ul>
