<div id="top10-wrap">
  <h3 class="hp-ttls">Top 10 <span>Films de Vampires</span></h3>
  <div id="top10">
    <%= render :partial => 'home/index/top_product', :collection => products %>
  </div>
</div>
