<div id="cotez">
  <h4>Cotez ce film</h4>
  <div id='rating-stars-<%= rate.to_param %>'>
    <%= render :partial => 'products/rating', :locals => {:product => rate, :background => :black, :replace => :homepage_wishlist} %>
  </div>
  <h5><%= link_to rate.title, product_path(:id => rate.to_param) %></h5>
  <%= link_to product_image_tag(rate.image, :width => 54, :height => 83, :alt => rate.title), product_path(:id => rate.to_param), :class => "cover #{product_media_id(rate.media)}"%>
</div>
