<br />
<div>
  <div>
    <%= image_tag "#{DVDPost.images_path}/themes/stvalentinheader_#{I18n.locale}.jpg", :width => 970 %>
  </div>
  <div class="category_theme">
    <% @count.times do |i| %>
    <h3><%= @titles[i] %></h3>
    <div class="selection_theme" id ="carousel">
      <ul>
        <%= render :partial => 'themes/product', :collection => @themes[i] %>
      </ul>                                                              
    </div>                
    <% end %>                                               
  </div>
</div>