<%= stylesheet 'contests' %>
<%= render :partial => 'contests/menu' %>
<div id="maincontent">
  <div id="concours-wrap">
    <div class="ttl"><%= t('contests.new.title')%></div>
    <div id="titles-wrap">
      <div class="top"></div>
      <%= render :partial => 'contests/create/result', :locals => {:contest => @contest} %>
      <div class="end"></div>
    </div>
  </div>
</div>
