<%= stylesheet 'contests', :media => :all %>
<%= render :partial => 'contests/menu' %>
<div id="maincontent">
  <div id="concours-wrap">
    <div class="ttl"><%= t('.title')%></div>
    <div id="titles-wrap">
      <div class="top"></div>
        <%= render :partial => 'contests/new/form', :locals => {:contest => @contest, :already_played => @already_played} %>
      <div class="end"></div>
    </div>
  </div>
</div>
