<div id="maincontent">
  <div class="top"></div>
  <div id="content_newweb">
    <table cellpadding="0" cellspacing="0" border="0" >
      <tr>
        <td colspan="7" style="padding-right:20px;">
          <div id="title"><strong>Your new DVDPost website in a few words</strong></div>
          <p>The entire DVDPost team is happy to present YOUR new online movie rental site : better performance, nicer, easier to use and more efficient, we hope you will like it as much as we do.</p>
        </td>
      </tr>
      <tr>
        <td align="left" colspan="7">
          <p class="zoom">
            <strong>Filters that help you with your searches</strong><br />
            On top of the existing search engine and the 50 film categories, we put very precise filters at your disposal. You can refine your searches by introducing :
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="left"><a href="/en/products"><img src="/images/filtres_cap.jpg" border="0" /></a></td>
        <td colspan="5">
          <ul class="list_new">
            <li><strong>The language and sub-titles</strong> : <font color="#454545"> for the fans of authenticity, search for mother tongue movies.</font></li>
            <li><strong>The average quotation</strong> <font color="#454545"> given by DVDPost customers</font></li>
            <li><strong>The editor&rsquo;s favourites</strong></li>
            <li><strong> DVD</strong><font color="#454545"> or </font><strong>Blu-ray format</strong> </li>
            <li><strong>The audience :</strong> <font color="#454545">can be important to protect the interests of minors.</font></li>
            <li><strong>The year the film came out : </strong><font color="#454545"> if you are fan of a very particular film period.</font></li>
            <li><strong>Country of origin :  </strong><font color="#454545"> for the amateurs of movies from Korea, Spain, Japan, India etc.</font></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="7" height="30"></td>
      </tr>
      <tr>
        <td valign="top" colspan="5">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td valign="top"><img src="/images/icon_star.gif"  /></td>
              <td width="7"></td>
              <td width="600">
                <p><strong>Improved recommendation system</strong><br />
                  Use this tool and discover films that will enchant you.  In future, you will find with the individual movie appreciation, suggestions  of similar movies titles and  customers&rsquo; reviews.<br />
                  Don&rsquo;t forget to mark your viewed films&nbsp;: the more this happens the more the recommendations will be precise and pertinent.<br /><br />
                </p>
              </td>
              <tr>
                <td valign="top"><img src="/images/icon_list.gif"/></td>
                <td width="7"></td>
                <td width="600">
                  <p><strong>Optimised list management</strong><br />
                    You can update your film list in a few clicks.  We have also introduced a &quot;List indicator&quot;, which shows the status of your list. If the colour is green, all is OK. If the indicator is yellow or red, you will need to add film titles urgently in order for our system to provide you with your favourite movies when you want them.
                  </p>
                  <br />
                </td>
                <tr>
                  <td valign="top"><img src="/images/icon_parrainage.gif"/></td>
                  <td width="7"></td>
                  <td width="600"><p><strong>A new referral programme</strong><br />
                    If you enjoy DVDPost, make sure you let the others now.
                    We want to help you along with our improved referral system&nbsp;:</p>
                    <p>
                      <span class="commande_card"><%= link_to '* Offer a 1month free trial (4 rentals)', sponsor_path %></span> to your friends, without any further commitments on their parts.<br />
                      * Win many gifts, every time your referral becomes a paying member you will receive 200 gift points for it.</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="center" colspan="2"><img src="/images/pageweb_cap.jpg" /></td>
            </tr>
            <tr>
              <td colspan="7" height="30"></td>
            </tr>
            <tr>
              <td width="165" valign="top"> <img src="/images/summercard.gif" width="162" height="130"/></td>
              <td width="11"></td>
              <td width="318" valign="top" class="box_bottom">
                <p><strong>Summer Card Special</strong><br />
                  If you order additional gift cards by 30th September 2010,  the friends you refer us to will not have 1 but 2 months' free trials (8 rentals). You double your generosity (value &euro; 30) and increase your chances of more gift points. <br />
                  <span class="commande_card"><%= link_to '<strong>To order additional gift cards, click here.</strong>', sponsor_path %></span></p></td>
                  <td width="7"></td>
                  <td width="79" align="right" valign="top"><img src="/images/icon_rss.gif" /></td>
                  <td width="14"></td>
                  <td width="306" valign="top" class="box_bottom">
                    <p><strong>Info and news</strong><br />
                      You know DVDPost is an expert in movies. Via the site and the newsletters, our editing team will inform you of the latest DVD releases, give their review on the best movies of the moment and propose articles on many original subjects.
                    </p>
                  </td>
                </tr>
              </table>
              <div class="end"></div>
            </div>
          </div>
