<div id="maincontent">
  <table cellpadding="0" cellspacing="0" border="0" >
    <tr>
      <td colspan="7" style="padding-right:20px;"><div id="title"><strong>Votre nouveau site DVDPost en quelques lignes</strong></div>
        <p>Toute l'&eacute;quipe DVDPost est heureuse de vous pr&eacute;senter votre nouveau site de location de films: plus puissant, plus esth&eacute;tique, plus simple d'utilisation et plus efficace, nous esp&eacute;rons qu'il vous plaira autant qu'&agrave; nous.</p></td>
      </tr>
      <tr>
        <td align="left" colspan="7"><p class="zoom"><strong>Les Filtres comme outils de recherche</strong><br />
          En plus du moteur de recherche et des 50 cat&eacute;gories de films, nous mettons d&eacute;sormais &agrave; votre disposition des filtres tr&egrave;s pr&eacute;cis. Vous pouvez donc affiner votre s&eacute;lection de films en activant un ou plusieurs des filtres ci-dessous :</p></td>
        </tr>
        <tr>
          <td colspan="2" align="left"><a href="/fr/products"><img src="/images/filtres_cap.jpg" border="0" /></a></td>
          <td colspan="5">
            <ul class="list_new">
              <li> <strong>les langues et sous-titres</strong> : <font color="#454545"> pour les fans de VO ou pour trouver les films disponibles dans votre langue maternelle</font></li>
              <li><strong>la cotation moyenne</strong> <font color="#454545">des membres DVDPost</font></li>
              <li><strong>les coups de coeur</strong><font color="#454545"> de notre &eacute;quipe r&eacute;dactionnelle</font></li>
              <li><strong>le format DVD</strong><font color="#454545"> ou </font><strong>Blu-ray</strong></li>
              <li><strong>le public adapt&eacute; pour le film :</strong> <font color="#454545">crit&egrave;re qui peut &ecirc;tre important pour &eacute;viter les contenus non adapt&eacute;s aux enfants</font></li>
              <li><strong>l'ann&eacute;e de sortie d'un titre :</strong><font color="#454545"> si vous &ecirc;tes fan d'une p&eacute;riode cin&eacute;matographique bien pr&eacute;cise</font></li>
              <li><strong>le pays d'origine d'un film :  </strong><font color="#454545"> pour les amateurs de cinéma coréen, italien, espagnol, etc.</font></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="7" height="30"></td>
        </tr>
        <tr>
          <td valign="top" colspan="5">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td valign="top"><img src="/images/icon_star.gif"  /></td>
                <td width="7"></td>
                <td width="600"><p><strong>Recommandations am&eacute;lior&eacute;es</strong><br />
                  Utilisez notre outil de recommandation et d&eacute;couvrez des films qui vous enchanteront. Dans quelques temps, vous trouverez en plus sur les fiches individuelles de films des propositions de titres similaires et appr&eacute;ci&eacute;s par nos autres membres. 
                  <br />
                  N'oubliez pas de coter un maximum de titres : au plus vous interagissez avec notre catalogue, au plus vos recommandations seront pr&eacute;cises et pertinentes.<br />
                  <br />
                </p>
              </td>
              <tr>
                <td valign="top"><img src="/images/icon_list.gif"/></td>
                <td width="7"></td>
                <td width="600"><p><strong>Gestion optimis&eacute;e de votre liste de DVD</strong><br />
                  Votre liste peut &ecirc;tre mise &agrave; jour en quelques clics seulement. De plus, un indicateur vous montre en permanence l'&eacute;tat de votre liste de titres. Si cette jauge est verte, tout va bien. Si elle est jaune ou rouge, ajoutez sans tarder des films pour que nous puissions vous servir au mieux.</p>
                  <br /></td>
                  <tr>
                    <td valign="top"><img src="/images/icon_parrainage.gif"/></td>
                    <td width="7"></td>
                    <td width="600"><p><strong>Un nouvel outil de parrainage </strong><br />
                      Si vous aimez DVDPost, parlez-en autour de vous. 
                      Le nouvel outil de parrainage vous permet  </p>
                      <p>
                        <span class="commande_card"><%= link_to "- d'offrir 1 mois d'essai gratuit (4 locations)", sponsorships_path %></span> &agrave; qui vous voulez, 
                        sans engagement pour votre filleul</p>
                        <p><%= link_to '- de gagner de magnifiques cadeaux', sponsorships_path %>, car à chaque fois qu’un de vos filleuls transforme son essai gratuit en un abonnement DVDPost, vous recevez 200 points</p></td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" colspan="2"><img src="/images/pageweb_cap.jpg" /></td>
                </tr>
                <tr>
                  <td colspan="7" height="30"></td>
                </tr>
                <tr>
                  <td width="165" valign="top"> <img src="/images/summercard.gif" width="162" height="130"/></td>
                  <td width="11"></td>
                  <td width="318" valign="top" class="box_bottom">
                    <p><strong>Sp&eacute;cial Summer Card</strong><br />
                      Jusqu'au 30 septembre 2010, commandez des cartes parrainage sp&eacute;ciales donnant droit &agrave; 2 mois d'essai gratuit (8 locations). Vous faites un cadeau plus important &agrave; vos proches (valeur 30&euro;) et vous optimisez vos chances de gagner plus de points. <br />
                      <span class="commande_card"><%= link_to '<strong>Pour commander plus de cartes, cliquez ici.</strong>', sponsorships_path %></span></p></td>
                      <td width="7"></td>
                      <td width="79" align="right"  valign="top"><img src="/images/icon_rss.gif" /></td>
                      <td width="14"></td>
                      <td width="306" valign="top" class="box_bottom"><p><strong>Infos et news</strong><br />
                        DVDPost est votre expert en cin&eacute;ma. Via le site et les newsletters de contenu, notre &eacute;quipe r&eacute;dactionnelle vous informe des derni&egrave;res sorties DVD, vous donne son avis sur les meilleurs films du moment et vous propose de nombreux th&egrave;mes originaux.
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
