
#concours-wrap .ttl {
  background: url(../images/Prochainement-icon.png) 0 0 no-repeat;
  font: normal 2em "MisoBold", Arial, Helvetica, sans-serif;
  color: #ff4b00;
  padding: 12px 0 4px 41px;
  position: relative;
}
#concours-wrap h3 {
  font-size: 1.33em;
  color: #525253;
  margin-bottom: 10px;
}
#concours-wrap form,#concours-wrap #result {
  display: block;
  background: white;
  border: 1px solid #939393;
  padding: 20px 35px 35px 40px;
}
#concours-wrap form fieldset {
  float: right;
  display: block;
  width: 280px;
  font-size: 1.17em;
  padding-top: 30px;
}
#concours-wrap form fieldset label {
  margin-top: 8px;
}
#concours-wrap form fieldset label input {
  vertical-align: middle;
}
#concours-wrap form button {
  float: right;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 15px;
  cursor: pointer;
}
#concours-wrap form button span {
  display: block;
  height: 29px;
  padding-right: 11px;
  background: url(../images/btn-bg.png) 100% 0 no-repeat;
  border-style:none;
}
#concours-wrap form button span strong {
  display: block;
  height: 29px;
  line-height: 29px;
  padding-left: 11px;
  background: url(../images/btn-bg.png) 0 0 no-repeat;
  color: white;
  text-shadow: 1px 1px 1px #555555;
  font-weight: normal;
}
#concours-wrap #titles-wrap .last {
  margin-bottom: 80px;
  text-align: center;
}
#quizz-mois {
  padding: 15px;
  background: white url(../images/quizz-shadow.gif) 0 100% repeat-x;
  border: 1px solid #939393;
  border-bottom: none;
  font-size: 1.17em;
  margin-bottom: 35px;
}
#quizz-mois #video-wrap {
  float: left;
  margin-right: 25px;
}
#quizz-mois h3 {
  font-size: 1.14em;
}
#concours-wrap #carousel-wrap {
  width: 667px;
  background: transparent url(../images/quizz-slider-shadow.jpg) 0 100% no-repeat;
  padding: 0 4px 12px 3px;
  margin: 0 0 10px;
  position: relative;
}
#concours-wrap #carousel {
  width: 659px;
  padding: 12px 0 12px 8px;
  border: 1px solid #6f6f6f;
  background: white;
  margin-bottom: 0;
 height: 131px;
}
#concours-wrap #carousel ul {
  top: 12px;
  left: 8px;
  width: 999em;
  display: block;
}
#concours-wrap #carousel ul li {
  width: 157px;
  height: 131px;
  float: left;
  display: block;
  position: relative;
  margin: 0 8px 0 0;
  padding: 0;
}
#concours-wrap #carousel ul li span {
  display: block;
  height:16px;
  line-height: 16px;
  width: 151px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1c1818;
  color: white;
  padding: 0 3px;
  text-align: right;
  font-size: .92em;
  text-transform: uppercase;
  overflow: hidden;
}
#concours-wrap #carousel-wrap #next, #concours-wrap #carousel-wrap #prev {
  position: absolute;
  width: 16px;
  height: 160px;
  display: block;
  top: 72px !important;

}
#concours-wrap #carousel-wrap #next {
  right: -14px !important;
  background: url(../images/quizz-right-arrow.png) 0 0 no-repeat;
}
* html #concours-wrap #carousel-wrap #next {
  right: -12px !important;
}
#concours-wrap #carousel-wrap #prev {
  left: -13px;
  background: url(../images/quizz-left-arrow.png) 0 0 no-repeat;
}
























