@charset "UTF-8";
/* CSS Document */

#header #logout {
	display:block;
	font-size:1.2em;
	padding:2px 5px;
	position:absolute;
	right:16px;
	top:10px;
}
#header h1 span {
	color:#333333;
	display:inline-block;
	margin:-6px 0 0;
}
#vod-wrap h2 {
	font-size: 2em;
	margin-bottom: 5px;
	float:left;
}
.vodtime {
	background:url("../images/icon_time.gif") no-repeat scroll 0 4px transparent;
	float:right;
	font-size:1.6em;
	height:50px;
	padding-left:31px;
	padding-right:31px;
	padding-top:12px;
}
.choice_quality {
	font-size:1.3em;
}
.connect_linkpc {
	padding-right:113px;
	color:#FF4B00;
	text-decoration: underline;
	font-size:1.2em;
}
#vod-wrap .quality a.btn {
	background:url("../images/button_qualityvod.png") no-repeat scroll 18px -9px transparent;
	color:white;
	display:block;
	font-size:1em;
	height:38px;
	line-height:34px;
	padding-left:36px;
	text-shadow:1px 1px 1px #555555;
	width:77px;
}
#vod-wrap .quality a.btn:hover {
	background:url("../images/button_qualityvod.png") no-repeat scroll 18px -45px transparent;
	text-decoration:none;
}
#vod-wrap .quality a.btnselect {
	background:url("../images/button_qualityvod.png") no-repeat scroll 18px -81px transparent;
	color:white;
	display:block;
	font-size:1em;
	height:38px;
	line-height:34px;
	padding-left:36px;
	text-shadow:1px 1px 1px #555555;
	width:77px;
}
#vod-wrap .quality a.btnselect:hover {
	background:url("../images/button_qualityvod.png") no-repeat scroll 18px -45px transparent;
	text-decoration:none;
}
.quality {
	padding-left: 112px;
}
#wrap {
	background:url("../images/content-bg.png") repeat-y scroll 0 0 transparent;
	margin:0 auto;
	padding:0 8px 10px;
	text-align:left;
	width:970px;
}
#top_box {
	background:url("../images/vod_connect.jpg") no-repeat scroll 0 0 #FFFFFF;
	border:1px solid #ADADAD;
	height:458px;
	line-height:140%;
	margin-bottom:18px;
	padding:40px;
	width:809px;
}
#top_box p#intro_copy {
	padding-top:69px;
	width:300px;
}
#top_box h1 {
	font-size:37px;
	line-height:95%;
}
#top_box h3, #middle_box .options_top h3, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
	font-size:14px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .options_top p, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
	font-weight:bold;
}
.connector_type, #top_box h3, #middle_box .options_box h2, #middle_box .suggestion h3 {
	color:#FF4B00;
}
#right_box {
	right:72px;
}
#left_box, #right_box {
	position:absolute;
	text-align:justify;
	top:354px;
	width:388px;
}
#top_box p#intro_copy, #top_box p#enjoy {
	font-size:14px;
	font-weight:bold;
}
#top_box p {
	margin-bottom:15px;
}
a:hover, a:active, a:link, a {
	color:#87bc14;
	text-decoration:none;
}
#guide_smallprint p {
	margin:0;
}
#middle_box .options_box h2 {
	height:38px;
	line-height:38px;
	padding-left:15px;
	padding-right:15px;
	padding-top:8px;
}
#middle_box .options_top {
	border-bottom:3px solid #FF4B00;
	border-top:3px solid #FF4B00;
	height:217px;
	margin-bottom:10px;
}
#middle_box .options_top {
	text-align:center;
}
#middle_box .options_top h3 {
	text-align:left;
	padding-top:8px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
	font-size:14px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .options_top p, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
	font-weight:bold;
}
#middle_box .options_top h3, #middle_box .options_top p, #middle_box .options_top img, #middle_box .suggestion h3, #middle_box p.cable_name {
	margin-bottom:10px;
}
#middle_box .guide_buy {
	background:url("../images/buy_btn.gif") no-repeat scroll 0 0 #FFFFFF;
	border:medium none;
	color:#FFFFFF;
	display:block;
	font-size:18px;
	font-weight:bold;
	height:34px;
	line-height:34px;
	margin:0 auto 20px;
	outline:medium none;
	text-align:center;
	width:239px;
}
#middle_box .result_card img {
	height:45px;
	margin-bottom:5px;
	width:108px;
}
#middle_box #option_last {
	margin-right:0;
}
#middle_box .options_box {
	background-color:#FFFFFF;
	border:1px solid #ADADAD;
	display:block;
	float:left;
	margin-right:12px;
	width:288px;
}
#middle_box #audio_suggestion hr {
	background-color:#ADADAD;
	border:medium none;
	color:#ADADAD;
	display:block;
	height:1px;
	margin:0 auto 10px;
	width:275px;
}
#middle_box ul.list_options li .guide_checkbox {
	margin:28px 10px 28px 0;
}
#middle_box ul.list_options li input, .guide_hidden {
	display:none;
}
.p_selected, .p_chosen {
	color:#FFFFFF;
}
.guide_checkbox {
	background-color:#FFFFFF;
	border:1px solid #4C4545;
	float:left;
	height:13px;
	overflow:hidden;
	width:13px;
}
#guide_smallprint {
	background-color:#FFFFFF;
	border:1px solid #ADADAD;
	line-height:140%;
	margin-bottom:18px;
	padding:15px;
	text-align:center;
	width:860px;
}
.composite {
	background:url("../images/composite.gif") no-repeat scroll 0 0px #FFFFFF;
}
.vga {
	background:url("../images/vga.gif") no-repeat scroll 0 0px #FFFFFF;
}
.hdmi {
	background:url("../images/hdmi.gif") no-repeat scroll 0 0px #FFFFFF;
}
.dvi {
	background:url("../images/dvi.gif") no-repeat scroll 0 0px #FFFFFF;
}
.svideo {
	background:url("../images/svideo.gif") no-repeat scroll 0 0px #FFFFFF;
}
.scart {
	background:url("../images/scart.gif") no-repeat scroll 0 0px #FFFFFF;
}
.component {
	background:url("../images/component.gif") no-repeat scroll 0 0px #FFFFFF;
}
.li_selected, .li_chosen {
	background-position:0 -70px;
}

#middle_box ul.list_options li {
	cursor:pointer;
	display:block;
	height:72px;
	line-height:70px;
	list-style-type:none;
	margin-bottom:5px;
	margin-left:7px;
	padding-left:137px;
}
#top_box *, #middle_box * {
	margin:0;
	padding:0;
}
#middle_box .suggestion h3 {
	text-align:center;
}
p.cable_name {
	text-align:center;
}
.result_card {
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
#middle_box #video_output, #middle_box #audio_output {
	margin: 13px 0 0 13px;
	float: left;
}
#middle_box #video_input, #middle_box #audio_input {
	margin:12px -58px 0 0;
	float: right;
}
.guide_result {
	background:url("../images/blank.gif") no-repeat scroll 0 0 #FFFFFF;
	display:block;
	height:90px;
	width:200px;
}
#middle_box ul.list_options li {
	cursor:pointer;
	line-height:70px;
	list-style-type:none;
}
.guide_selected, .guide_chosen {
background-color:#A82D24;
border:1px solid #FFFFFF;
}
