.text_anticipation {
	padding-left: 20px;
	padding-right: 10px;
	text-align:left;
	font-size:13px;
	width:350px;
}
.text_title_abo {
	text-align:left;
	font-size:16px;
	color:#FFFFFF;
	text-transform: uppercase;
	padding-top:20px;
	padding-left:50px;
}
.text_prices {
	font-size:36px;
	color:#ff3300;
}
.check {
	background:url("../images/check.png") no-repeat scroll 0 0 transparent;
	height:24px;
	cursor: pointer;
}
.active .yes .check,.abo .check.active {
	background:url("../images/check.png") no-repeat scroll 0 -27px transparent;
	height:31px;
}
.abo.active
{
  background: #e3e3e2;
}
.active 
{
  background: #fff;
}
.text_nb_movie {
	font-size:24px;
}
.text_month {
	font-size:16px;
}
.dvd_icon {
	padding-left:50px;
	line-height: normal;
}
#bg_anticipation {
	background-repeat: no-repeat;
	min-height:664px;
	background-color:#f4fbfd;
	width: 920px;
	margin: 0 auto;
}
#bg_anticipation.fr {
  background-image: url(../images/fr/bg_anticipation.png);
}
#bg_anticipation.nl {
  background-image: url(../images/nl/bg_anticipation.png);
}
#bg_anticipation.en {
  background-image: url(../images/en/bg_anticipation.png);
}

.title_movie {
	font-size:18px;
	text-align:left;
}
.title_prices {
	color:#ff3300;
	font-size:30px;
	text-align:right;
	padding-right:10px;
}
.separtions {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
}
.table_abo {
	width:400px;
}
.big_yes {
	font-size:24px;
	color:#ff3300;
}
.select_abo {
	background-color:#d5f5ff;
}
.choice_anticipation {
	padding-top:10px;
	font-size:16px;
	text-align:left;
}
#right_content {
	float:right;
	font-size:16px;
	text-align:left;
	margin: 349px 14px 0 13px;
	padding: 0 5px 13px 5px;
	min-height:250px;
}
#left_content {
	float:left;
	font-size:16px;
	padding: 0 5px 13px 5px;
	margin: 349px 0 0 13px;
	text-align:left;
	height:250px;
}
.abo_actu {
  background:url("../images/bg_white.png") no-repeat scroll 0 transparent;
  
	padding:14px 0 0 62px;
  width:250px;
  margin: 0 auto 5px;
}
.monthquote {
	font-size:13px;
	text-align:center;
	padding-left:13px;
}
.button_confirm {
	background:url("../images/button-anticipation.png") no-repeat scroll 0 0 transparent;
	border:medium none;
	color:white;
	font-weight:bold;
	height:52px;
	text-shadow:1px 1px 1px #333333;
	width:269px;
	font-size:16px;
	cursor: pointer;
}
.button_confirm:hover {
	background:url("../images/button-anticipation.png") no-repeat scroll 0 -55px transparent;
	border:medium none;
	color:white;
	font-weight:bold;
	height:52px;
	text-shadow:1px 1px 1px #333333;
	width:269px;
}
button {
	text-indent:0;
	white-space:inherit;
}
.text-more {
	color:#ff3300;
	font-size:12px;
	text-align:right;
	padding-top:10px;
}
#show_all
{
  cursor: pointer;
}
