form, fieldset {
border-style:none;
margin:0;
padding:0;
}
input {
font-size:15px;
vertical-align:middle;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.btn {
  display: -moz-inline-box;
  display: inline-block;
  outline: none;
}

#tool-wrap {
  margin:0 15px;
  padding: 10px;
  width:860px;
  background: white;
}
#maincontent h2 {
  margin: 0 20px 15px 0;
  color: #e14337;
  font-size: 20px;
  padding: 0;
  text-align: center;
}
#tool-wrap #points {
  float: left;
  width: 218px;
  padding: 10px 5px 18px;
  border: 1px solid #a9a9a9;
  text-align: center;
  margin-right: 25px;
}
#tool-wrap #points h3 {
  font-size: 15px;
  color: #575757;
  padding: 0;
  margin: 0;
}
#tool-wrap #points h3 span {
   display: -moz-inline-stack;
  display: inline-block;
  padding: 5px;
  color: #e14337;
  border: 2px solid #e14337;
  clear: both;
  margin: 14px 0;
  font-size: 24px;
}
#tool-wrap #points h3 span strong {
  font-size: 36px;
}
#tool-wrap #points a.btn {
  background:url("../images/echangez-vos-points-btn.png") no-repeat scroll 0 0 transparent;
  color:white;
  display:block;
  font-size:18px;
  height:28px;
  margin-left:3px;
  padding:10px 0 0;
  width:214px;
}
#tool-wrap #points a#parrainez {
  background-image: url(../images/parrainez-un-ami-btn.png);
}
#continue_fr {
  background: url(../images/fr/confirm-btn.gif) 0 0 no-repeat;
}
#continue_nl {
  background: url(../images/nl/confirm-btn.gif) 0 0 no-repeat;
}
#continue_en {
  background: url(../images/en/confirm-btn.gif) 0 0 no-repeat;
}
#tool-wrap #points a#parrainez {
  background-image: url(../images/parrainez-un-ami-btn.png);
}

#tool-wrap #points-wrap .content {
  width: 400px;
  float: left;
}
#tool-wrap #points-wrap .content p {
  padding: 0;
  margin: 0 0 12px;
  color: #353535;
  font-size: 13px;
}
#tool-wrap #points-wrap .content p.note {
  color: #e14337;
}
#tool-wrap #special-offer {
  float: left;
  width: 163px;
  height: 190px;
  background: url(../images/speciall-offer-bg.png) 0 0 no-repeat;
  margin-left: 20px;
}
#tool-wrap #special-offer h3 {
  text-align: center;
  font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 8px 0 95px;
  text-transform: uppercase;
  color: #ff4b01;
}
#tool-wrap #special-offer p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 13px;
}
#tool-wrap #special-offer p strong {
  display: block;
  font-size: 15px;
}
.content #summer a.btn {
  background:url("../images/commander-plus-btn.png") no-repeat scroll 0 0 transparent;
  color:white;
  display:block;
  height:24px;
  margin:3px 0 0 9px;
  padding:14px 0 0;
  text-align:center;
  width:253px;
}
.content p#summer 
{
  padding: 0 0 0 50px !important;
}

#tool-wrap #tabs {
  display: block;
  margin: 18px 0 0;
  padding: 0;
  list-style: none;
  height: 30px;
}
#tool-wrap #tabs li {
  float: left;
  margin-right: 4px;
}
#tool-wrap #tabs li a {
  height: 29px;
  line-height: 29px;
  display: block;
  float: left;
  padding: 0 15px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-bottom: none;
  background: url(../images/tab-nav-bg.png) 0 0 repeat-x;
  text-decoration: none;
}
#tool-wrap #tabs li a.current {
  color: #353535;
  background-image: url(../images/tab-nav-current-bg.png);
  cursor: default;
}

#tool-wrap .tab-content {
  border: 1px solid #000000;
  padding: 20px 15px;
  background: white;
}
#tool-wrap h2 {
  color: #353535;
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
  text-align: left;
}
#tool-wrap .tab-content h3 {
   font-size: 18px;
   color: #e14337;
}
#tool-wrap #tab1 h4 {
  font-size: 18px;
  color: #353535;
}
#tool-wrap .tab-content .content p {
  font-size: 12px;
}
#tool-wrap .tab-content a {
color: #e14337;
font-size:16px;
font-weight: bold;
}
#tool-wrap #tab1 .content {
  float: left;
  width: 640px;
}
#tool-wrap #tab1 #invitation {
  float: right;
  text-align: center;
}
#tool-wrap #tab1 #invitation img {
  display: block;
  padding: 7px;
  border: 1px solid #c6c6c6;
  margin-top: 10px;
}
#tool-wrap #tab1 #inv-form {
  display: block;
  padding: 8px 2px;
  background: #b7b7b7;
}
#tool-wrap #tab1 #inv-form a, #tool-wrap #tab1 #inv-form input, #tool-wrap #tab1 #inv-form img {
  vertical-align: middle;
}
#tool-wrap #tab1 #inv-form .fieldWithErrors
{
  display: inline;
}
#tool-wrap #tab1 #inv-form input {
  width: 200px;
  padding: 2px;
  margin-left: 3px;
  border: 1px solid #a8acad;
  background: url(../images/inv-field-bg.gif) 0 0 repeat-x;
  color: #b7b7b7;
  font: normal 14px Arial, Helvetica, sans-serif;
}
#tool-wrap #tab1 #inv-form input.i-btn {
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  margin-left: 0;
}
#tool-wrap .history {
  margin-top: 20px;
}
#tool-wrap .history h3 {
  font-size: 14px;
  color: #353535;
  margin: 0 0 10px;
}
#tool-wrap .history table {
  width: 810px;
  margin-left: 18px;
  font-size:13px;
}
#tool-wrap .history table .col1 {
  width: 210px;
}
#tool-wrap .history table .col2 {
  width: 173px;
}
#tool-wrap .history table .col3 {
  width: 110px;
}
#tool-wrap .history table .col4 {
  width: 145px;
}
#tool-wrap .history table .col5 {

}
#tool-wrap .history table .col6 {
  width: 389px;
}
#tool-wrap .history th {
  text-align: left;
  /*padding: 4px;*/
  color: #ffffff;
  font-weight: normal;
  background: #454545;
  border-bottom: 8px solid white;
}
#tool-wrap .history td {
  border-bottom: 4px solid white;
}
#tool-wrap .history td.free {
  /*padding: 4px 0 4px 4px;*/
  color: #a5a5a6;
  background: #e4e5e6;
}
#tool-wrap .history td.ok {
  color: #353535;
  background: #e6fac0;
}
#tool-wrap .history td.stop {
  color: #353535;
  background: #ffcccc;
}

#tool-wrap .history td img {
  vertical-align: middle;
}
#tool-wrap .history td.brdr, #tool-wrap .history th.brdr {
  border-left: 2px solid white;
  text-align: center;
  text-shadow: none !important;
}

#tool-wrap .history td.size, #tool-wrap .history th.size {
  width: 50px;
}

#tool-wrap .tab-content #gifts {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
}

#tool-wrap .tab-content #gifts li {
  width: 270px;
  height: 260px;
  float: left;
  text-align: center;
}
* html #tool-wrap .tab-content #gifts li {
  display: inline;
}

#tool-wrap .tab-content #gifts li img {
   margin-top: 5px;
}
#tool-wrap .tab-content #gifts li h3 {
  margin: 0;
  min-height: 40px;
  height: auto !important;
  height: 40px;
  width:270px;
}

#tool-wrap .tab-content #gifts li h3 span {
  font-size: 14px;
  color: #353535;
  font-weight: normal;
  display: block;
}
#tool-wrap .tab-content #gifts li a.echanger {
  display: block;
  width: 106px;
  height: 29px;
  background: url(../images/echanger-btn.png) 0 0 no-repeat;
  margin: 6px 0 0 62px;
 float: left;
}
#tool-wrap .tab-content #gifts li a.parrainner {
  background:url("../images/parrainner-plus-damis-btn.png") no-repeat scroll 0 0 transparent;
  color:white;
  display:block;
  float:left;
  font-size:14px;
  height:26px;
  margin:0 0 0 50px;
  padding:8px 0 0;
  width:170px;
}


#tool-wrap .tab-content #gifts li input.parrainner
{
  margin: 6px 0 0 0;
}
* html #tool-wrap .tab-content #gifts li a.btn {
  display: inline-block;
}
#tool-wrap img 
{
  border:0;
}

#mail_send
{
  font-size:12px;
  text-align:center;
  color:#228A1E;
}
#mail_not_send
{
  font-size:12px;
  text-align:center;
  color:#D32F30;
}


/* faq */
#contact-wrap
{
  padding: 0px !important;
}
#contact-wrap #faq-nav {
  width: 300px;
  display: block;
  float: left;
  padding-left:5px;
}
#contact-wrap #faq-nav li {
  margin-bottom: 3px;
}
#contact-wrap #faq-nav li a {
  padding: 3px 3px 3px 0;
  display: block;
  font-size:  1.08em;
  color: #59595a;
  background: #e4e5e6 url(../images/faq-nav-arrow.gif) 6px 4px no-repeat;
  text-transform: uppercase;
  font-weight: bold;
}
* html #contact-wrap #faq-nav li a {
  height: 10px;
}


#contact-wrap #faq-nav li a:hover {
  text-decoration: none;
  color: black;
}


#contact-wrap #faq-nav li a.active {
  color: #ff4b00;
  background: #ffffff url(../images/faq-nav-arrow-active.gif) 6px 6px no-repeat;
}
#contact-wrap #faq-nav li ul {
  /*margin-left: 23px;*/
  padding:0;
}
#contact-wrap #faq-nav li li a {
  text-transform: none;
  font-size: 13px;
  padding-left: 0;
  font-weight: normal;
  background: transparent;
}
#contact-wrap #faq-nav li li a:hover {
  color: #ff4b00;
}
#contact-wrap .faq-answer {
  float: right;
  width:490px;
  font-size:14px;
  padding-bottom:  14px;
  background: url(../images/faq-answers-shadow.gif) 0 100% no-repeat;
}
#contact-wrap .faq-answer h3 {
  font-size: 1em;
  color: #000000;
  margin-bottom: 6px;
}
#contact-wrap .faq-answer .box {
  padding: 12px;
  border: 1px solid #98978b;
  background: #deded8;
  font-weight: 1.17em;
  line-height: 1.33em;
}
#submit_additional
{
  background:url("../images/echanger-btn.png") no-repeat scroll 0 0 transparent;
  border-style:none;
  color:white;
  cursor:pointer;
  font-weight:bold;
  height:29px;
  width:112px;
}

#gift
{
  background:url("../images/echanger-btn.png") no-repeat scroll 0 0 transparent;
  border-style:none;
  color:white;
  cursor:pointer;
  font-weight:bold;
  height:29px;
  width:112px;
}

#mail_send
{
  background:url("../images/mail_send.png") no-repeat scroll 0 0 transparent !important;
  border-style:none !important;
  color:white !important;
  cursor:pointer;
  font-weight:bold;
  height:27px;
  text-align:center;
  width:154px !important;
}
#mail_send:hover
{
  background:url("../images/mail_send.png") no-repeat scroll 0 -37px transparent !important;
}
.loader
{
  background:none repeat scroll 0 0 #EEEEEE;
  height:35px;
  margin:2px auto;
  text-align:center;
  width:100px;
}
#additional #errorExplanation
{
  margin: 0 auto;
  width: 150px;
}
#emailer #errorExplanation li
{
  color: #333 !important;
}
#mail_sent {
  color: #228A1E;
  text-align: center;
}