<div id="contact-wrap">
  <%= render :partial => 'messages/menu', :locals => {:active_menu => 'contact'} %>
    <div id="tabs-content">
      <div id="contact">
        <%= render :partial => 'phone_requests/new/info' %>
        <%= render :partial => 'phone_requests/new/form', :locals => {:phone_request => @phone_request} %>
      <div class="clear"></div>
    </div>
  </div>
</div>
