<div id="suspend-abonament">
	<h3>Suspension de votre abonnement</h3>
	<p><strong>Vous partez en vacances et désirez suspendre momentanément votre abonnement DVDPost ?</strong></p>
	<p>C’est tout à fait possible ! </p>
	<p>Juste avant votre départ, <strong>choisissez la durée de suspension des envois</strong> et cliquez sur le bouton pour confirmer. Cette suspension prendra cours immédiatement et l’envoi reprendra automatiquement au terme de la période choisie.</p>
	<p><strong>N’oubliez pas de renvoyer les DVD</strong> encore en votre possession afin de ne pas les immobiliser durant cette période.</p>
	<p>Vous pouvez utiliser cette fonctionnalité <strong>jusqu’à 3 fois par an </strong>(année d’abonnement) sans aucun frais.</p>
	<form method="post" action="">
		<label>Durée de suspension :</label>
		<select>
			<option selected="selected" value ="7">1 semaine</option>
		</select>
		<button type="submit"><span><strong>Confirmer</strong></span></button>
	</form>
</div>