<% content_for :style do %>
<%= stylesheet_link_tag 'customers' %>
<% end %>

<!--   ==============   MAIN CONTENT   ==============   -->
<div class="top"></div>
<%= render :partial => 'account', :locals => {:customer => @customer} %>
<%= render :partial => 'subscription', :locals => {:customer => @customer} %>
<!--   ==============   END MAIN CONTENT   ==============   -->
