<% content_for :style do %>
<%= stylesheet_link_tag 'customers' %>
<% end %>

<!--   ==============   MAIN CONTENT   ==============   -->
<div class="account">
  <%= render :partial => 'customers/show/account', :locals => {:customer => @customer} %>
  <%= render :partial => 'customers/show/subscription', :locals => {:customer => @customer} %>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
