<% content_for :style do %>
<%= stylesheet_link_tag 'customers' %>
<% end %>

<!--   ==============   MAIN CONTENT   ==============   -->
<div class="top"></div>
<div id="gauche">
  <div id="title"><strong>Mon Compte</strong></div> 
  <div id="content_gauche">
    <table cellpadding="0"  cellspacing="0">
      <tr >
        <td width="203" align="right"><strong>N∞ client  :</strong></td>
        <td width="258" align="left">151435</td>
      </tr>
      <tr>
        <td align="right"><strong>Identifiant DVDpost :</strong></td>
        <td align="left">maud.lecozannet@gmail.com</td>
      </tr>
      <tr>
        <td align="right"  valign="top" class="adresse"><strong>Adresse de livraison :</strong></td>
        <td align="left" valign="top"  class="adresse">Maud LE COZANNET<br/>
          rue Antoine BrÈart, 23 B1<br/>
          1060 Bruxelles</td>
        </tr>
        <td align="right"  valign="top" class="adresse"></td>
        <td align="right" valign="top" id="modif"><ul><li class="links" id="">
          <a href="" class="modif">Modifier mon compte</a>
        </li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="2"> <div  class="ligne"></div></td>
    </tr>
    <tr >
      <td align="right" class="adresse"><strong>Mes points parrainage :</strong></td>
      <td align="left" class="adresse">0 pts  <span><img alt="Delimiter" src="/images/delimiter.gif"></span> <a href="" class="modif"> Parrainer un ami</a></td>
    </tr>
    <tr>
      <td align="right" class="adresse"><strong>Mes DVD achetÈs :</strong></td>
      <td align="left" class="adresse"> 2 DVD  <span><img alt="Delimiter" src="/images/delimiter.gif"></span>  <a href="" class="modif">Voir mon achats</a></td>
    </tr>
    <tr>
      <td align="right" class="adresse"><strong>Mes cotations : </strong></td>
      <td align="left" class="adresse"> 305 </td>
    </tr>
    <tr>
      <td align="right"><strong>Mes critiques :</strong></td>
      <td align="left">0</td>
    </tr>
    <tr>
      <td align="right" class="adresse"><strong>Newsletters infos DVDPost :</strong></td>
      <td align="left" class="adresse">ActivÈ <span><img alt="Delimiter" src="/images/delimiter.gif"></span>  <a href="" class="suppendre">DÈsactivÈ</a></td>
    </tr>
    <tr>
      <td align="right"><strong>Newsletters Partenaires :</strong></td>
      <td align="left">ActivÈ <span><img alt="Delimiter" src="/images/delimiter.gif"></span>  <a href="" class="suppendre">DÈsactivÈ</a></td>
    </tr>
  </table>
</div>
<div id="code_cado">
  <div id="title"><strong>ChËques cadeaux</strong> <img src="/images/icon_info.png"  align="absmiddle"/></div> 
  <div id="cado"> <img src="/images/pack.png"  align="absmiddle" /><a href="" class="modif">Offrir un chËque cadeau</a> </div>
  <div id="code"><form>
    <input name="" class="code_text" value="ACTIVER VOTRE CODE CADEAU" size="15"  type="text"></div>
    <div><input  class="code_bouton"src="/images/bouton_go.png" type="image"></div>
  </form>
</div>
</div>
<div id="droite">
  <div id="title"><strong>Mon abonnement</strong></div>
  <div id="content_droite">
    <table  cellpadding="0" cellspacing="0">
      <tr >
        <td width="207"  align="right"><strong>Type díabonnement :</strong></td>
        <td width="141" align="left">8 DVD</td>
      </tr>
      <tr >
        <td align="right"><strong>Type díabonnement :</strong></td>
        <td  align="left">8 DVD</td>
      </tr>
      <tr >
        <td  align="right"><strong> CrÈdit DVD :</strong></td>
        <td align="left">52 DVD</td>
      </tr>
      <tr >
        <td align="right"><strong>DVD dans votre liste :</strong></td>
        <td  align="left">83 DVD</td>
      </tr>
      <tr>
        <td colspan="2"> <ul><li class="links" id="">
          <a href="" class="modif">Modifier mon abonnement</a>
          <span><img alt="Delimiter" src="/images/delimiter.gif"></span>
          <a href="" class="suppendre">Suspendre mon abonnement</a></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2"> <div  class="ligne"></div></td>
    </tr>
    <tr >
      <td align="right"><strong>DVD DVDPost en rotation :</strong></td>
      <td  align="left"><img src="/images/dvd.png" align="absmiddle" /> 2 DVD</strong></td>
    </tr>
    <tr >
      <td align="right" class="adulte_text"><strong>DVD MOVIX en rotation :</strong></td>
      <td  align="left" class="adulte_text"><img src="/images/dvd_x.png"  align="absmiddle"/>      0 DVD</strong> <span><img alt="Delimiter" src="/images/delimiter.gif"></span> <a href="" class="suppendre">Activer</a></td>
    </tr>
    <tr>
      <td colspan="2" height="10"> </td>
    </tr>
    <tr>
      <td colspan="2" class="rotation"> <strong>DVD chez vous ou en transit : 2 DVD</strong></td>
    </tr>
    <tr >
      <td align="left" class="adresse">Factory Girl</td>
      <td  align="right" class="adresse">10-12-2009</td>
    </tr>
    <tr >
      <td align="left" class="bottom_text">London to Brighton</td>
      <td  align="right" class="bottom_text">10-12-2009</td>
    </tr>
    <tr>
      <td colspan="2"> <div  class="ligne"></div></td>
    </tr>
    <tr >
      <td align="right" class="adresse"><strong>Date d'abonnement :</strong></td>
      <td  align="left" class="adresse">21-04-2009</td>
    </tr>
    <tr >
      <td align="right" ><strong>Activation valable jusqu'au :</strong></td>
      <td  align="left">21-04-2010</td>
    </tr>
    <tr >
      <td align="right" ><strong>Type de paiement :</strong></td>
      <td  align="left">Code d'activation</td>
    </tr>
  </table>
</div>
<p><img src="/images/help.png" /></p>
</div>
<div class="end"></div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
