<%= stylesheet 'sponsorships' %>
<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div class="top"></div>
  <h2><%= t('sponsorships.show.share') %></h2>
  <div id="tool-wrap">
    <div id="points-wrap">
      <%= render :partial => 'sponsorships/header', :locals => { :current_link => @current } %>
      <ul id="gifts">
        <%= render :partial => 'sponsorships/gifts/item', :collection => @gifts %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
