<p align="center">
	<?= TITLE_HOW ?>
	<%= t ".title" %>
</p>
<form method="post" action ="member_get_member_plus_process.php">
	<p>
  	<table align='center'>
  	  <tr>
        <% total=(5 - @number) %>
        <% for n in 1..total %>
        	<td align="center"><input type="radio" name="card" value="<%= n %>" /></td>
        <% end %>
      </tr>
      <tr>
        <% for n in 1..total %>
        	<td align="center"><%= n %></td>
        <% end %>
      </tr>
    </table>
  </p>
<p align="center"><input type="image" src="/images/<%= I18n.locale %>/confirm-btn.gif"></p>
</form>