<div class="box" id="on-way">
  <ul>
    <li class="first">
      <h2>DVD chez vous ou en transit : <span><%= "#{assigned_items.count} DVD" %></span></h2>
    </li>
    <li>
      <h2>Votre liste contient : <span><%= "#{wishlist_items_count} DVD" %></span></h2>
    </li>
  </ul>
  <div class="head clearfix">
    <div class="title">Titres </div>
    <div class="status">Statuts de mes locations </div>
  </div>
  <%= render :partial => 'wishlist_items/index/assigned_item', :collection => assigned_items %>
</div>
<ul id="on-way-nav">
  <li class="first">Voir mon historique de location</li>
  <li><a href="#">Ajouter des titres à ma liste</a></li>
</ul>
