<% if history_item.product %>
<div class="<%= product_media_id(history_item.product.media) %> clearfix">
  <div class="title"><%= link_to truncate(product_assigned_title(history_item.product), :length => 50), product_assigned_path(history_item.product) %></div>
  <div class="status">
  </div>
</div>
<% end %>