<div class="<%= product_media_id(history_item.product.media) %> clearfix">
  <div class="title"><%= link_to truncate(history_item.product.title, :length => 50), product_assigned_path(history_item.product) %></div>
  <div class="status">
  </div>
</div>
