<div class="<%= product_media_id(wishlist_item.product.media) %> clearfix">
  <div class="title"><%= link_to wishlist_item.product.title, product_path(:id => wishlist_item.product.to_param) %></div>
  <div class="availability">&nbsp;</div>
  <% if false %><div class="availability short-wait"><%= 'Titre épuisé chez l\'éditeur' if false %>Short wait</div><% end %>
  <ul class="HML">
    <% ["1","2","3"].collect do |priority| %>
    <li>
      <%= radio_button_tag "wishlist_item_#{wishlist_item.to_param}", priority, wishlist_item.priority == priority %>
    </li>
    <% end %>
  </ul>
  <span class="trash">
    <input name="" type="checkbox" value="" />
  </span>
  <% if false %>
  <div class="title-info clearfix">
    <p>
      Ce titre vous sera envoyé en série et les épisodes dans l'ordre. <br />
      Toute la saison est un titre unique et chaque DVD est un crédit de location
    </p>
    <div class="title"><a href="#">A Bord du Darjeeling Limited </a></div>
    <div class="availability">&nbsp;</div>
    <ul class="HML">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
    <span class="trash">
      <input name="" type="checkbox" value="" />
    </span>
  </div>
  <div class="title-info clearfix">
    <div class="title"><a href="#">A Bord du Darjeeling Limited </a></div>
    <div class="availability">&nbsp;</div>
    <ul class="HML">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
    <span class="trash">
      <input name="" type="checkbox" value="" />
    </span>
  </div>
  <% end %>
</div>
