<div id="carousel">
  <ul>
    <% previous_list.each do |old_quizz| %>
      <% link_to quiz_path(:id => old_quizz.to_param) do %>
        <li>
          <%= image_tag carousel_image_url(old_quizz) %>
          <span>
            <%= old_quizz.quizz_name %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate previous_list, :previous_label => 'Prev', :next_label => '', :page_links => false, :id => 'prev', :class => 'like-btn', :container => false %>
  <%= will_paginate previous_list, :previous_label => '', :next_label => 'Next', :page_links => false, :id => 'next', :class => 'like-btn', :container => false %>
</div>