<% load_color = load_color || :normal %>
<% if current_customer.wishlist_products.include?(product) %>
  <% title = title_remove_from_wishlist(text) %>
  <% wishlist_item = current_customer.wishlist_items.find_by_product_id(product.to_param) %>
  <% submit_id = "p_#{product.to_param}_#{rand(10)}"%>
  <%= "<span class='remove' id='#{submit_id}'>" %>
  <%= link_to title, wishlist_item_path(:id => wishlist_item.to_param, :text => text, :list => 1, :source => source, :submit_id => submit_id, :load_color => load_color), :class => 'btn_remove wishlist_button' %>
  <%= '</span>' %>
<% else %>
  <% title = title_add_to_wishlist(text) %>
  <% submit_id = "p_#{product.to_param}_#{rand(10)}"%>
  <%= link_to title, new_product_wishlist_item_path(:product_id => product.to_param, :source => source, :submit_id => submit_id, :text => text, :load_color => load_color), :class => 'btn add_to_wishlist_button', :id => submit_id %>
<% end %>
