<div id='title' class="reviews"><%= t '.title' %> <%= @customer.first_name %></div>
<div id="titles-wrap" class="reviews">
  <div class="top"></div>
<%= render :partial => '/reviews/index/review', :collection => @reviews, :locals => {:source => @source} %>
  <div class="end"></div>
</div>
<%= will_paginate @reviews, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>