<div id="maincontent" >
  <div class="top"></div>
  <p>De DVDs dienen teruggezonden te worden in de envelop waarin de DVD u werd opgestuurd. Als deze niet meer in uw bezit is, gelieve een envelop van de Post, geschikt voor het verzenden van de DVD en zijn beschermingsdoosje, te gebruiken. Frankeer de het voldoende aan voorrangtarief (min 0,98 €) en verzend het geheel naar:</p>
  <p>Home Entertainment Services sa</p>
  <p>Antwoordnummer 1070-99</p>
  <p>1070 Anderlecht Mail</p>
  <div class="end"></div>
</div>