<% statuses = DVDPost.product_dvd_statuses.keys %>
<div id="addwishlist_title">
  <%= t '.title' %>
</div>
<div id="add_problem">
  <ul>
    <% statuses.each do |event| %>
      <li class="add_problem_space">
        <% if (event.to_s != 'arrived' and event.to_s != 'delayed')  %>
          <%= link_to_report(t(".#{event}"), @order.to_param, event) %>
        <% elsif (event.to_s == 'arrived' and (@order.status.orders_status_id == 17 or @order.status.orders_status_id == 12)) %>
          <%= link_to_report(t(".#{event}"), @order.to_param, event) %>
        <% elsif event.to_s == 'delayed' and @order.status.orders_status_id == 2 %>
          <%= link_to_report(t(".#{event}"), @order.to_param, event) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>