<% statuses = DVDPost.product_dvd_statuses.keys %>
<div id="addwishlist_title">
  <%= t '.title' %>
</div>
<div id="add_problem">
  <ul>
    <% statuses.each do |event| %>
      <li class="add_problem_space">
        <%= link_to_report(t(".#{event}"), @order.to_param, event) %>
      </li>
    <% end %>
  </ul>
</div>