<div class="quality">
  <span class="choice_quality">Choisir la version Audio et sous-titrage ainsi que la qualité du film</span>
  <table cellpadding="0" cellspacing="0" border="0" width="453">
    <%= render :partial => '/streaming_products/show/kind', :collection => streaming, :locale => { :token => token } %>
  </table>
</div>
