<div class="quality">
  <p><span class="choice_quality"><%= t '.choose' %></span></p>
  <table cellpadding="0" cellspacing="0" border="0" width="660">
    <%= render :partial => '/streaming_products/show/kind', :collection => streaming, :locale => { :token => token } %>
  </table>
</div>
