<div id="footer" >
  <div id="subfooter">
    <div id="footer-nav">
      <h3>Liens rapides</h3>
      <ul>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Presse</a></li>
        <li><a href="#">Confidentialit&eacute;</a></li>
        <li><a href="#">Conditions g&eacute;n&eacute;rales</a></li>
      </ul>
      <ul id="contacts">
        <li>
          <h4>Nous contacter</h4>
        </li>
        <li><a href="#">Questions Fréquentes</a></li>
        <li><a href="#">Parrainer un ami</a></li>
        <li><a href="#">Offrir un chèque cadeau</a></li>
        <li><a href="#">Concours</a></li>
        <li><a href="#">Quizz</a></li>
      </ul>
    </div>
    <%= render :partial => 'layouts/partners', :locals => {:partners => partners} %>
    <div class="clear"></div>
    <p id="copyr">&copy; 2002-2010 DVDpost  | Home Entertainment Services S.A. </p>
  </div>
</div>
