<%= link_to 'Indicator', nil, :id => 'n6', :class => list_indicator_class(wishlist_size) %>
<ul id="indicator-tips">
  <li><h3>LIST INDICATOR</h3></li>
  <li><p><%= "You have #{wishlist_size == 0 ? 'no' : wishlist_size} items in your wishlist. Good for you!" %></p></li>
  <li class="indicator" id="ind0-10">de 0 à 10DVD dans la liste</li>
  <li class="indicator" id="ind10-30">de 10 à 30DVD dans la liste</li>
  <li class="indicator" id="ind30-plus">de >30 DVD dans la liste</li>
  <li id="close"><a href="">FERMER</a></li>
</ul>
