<div class="bysort">
  <div class="bysort_title"><%= t '.title'%> : </div>
  <div class="bysort_choice">
    <% var = params[:product] && params[:product][:sort] ?  params[:product][:sort].to_sym : nil %>
    <% form_for(:product, :html => { :method => :get, :id => :sort_form  }) do |f| %>
      <%= select_tag('product[sort]', options_for_select(sort_collection_for_select, var), { :onchange => '$("#sort_form").submit()'}) %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>
