<div class="bysort">
  <div class="bysort_title"><%= t '.title'%> : </div>
  <div class="bysort_choice">
    <% form_for :product, :html => { :method => :get } do |f| %>
      <%= f.collection_select(:sort, sort_collection_for_select, :first, :last, {:include_blank => false}) %>
      <%= submit_tag "create", :id => "submit_address", :class => "submit submit_#{I18n.locale}" %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>
