<% if products && products.size > 0 %>
    <!-- Carousel -->
    <div id="carousel-wrap">
      <div id='streaming_popular' class="streaming">
        <ul class="ttls-nav" id="recom">
          <li>
            <h3>
              <%= t '.title' %>
            </h3>
          </li>
        </ul>
      <div id="carousel">
      
          <ul>
            <%= render :partial => 'products/streaming_product', :collection => products %>
          </ul>
          <%= will_paginate products, :previous_label => 'Prev', :next_label => '', :page_links => false, :param_name => :popular_streaming_page, :id => 'prev', :class => 'like-btn', :container => false %>
          <%= will_paginate products, :previous_label => '', :next_label => 'Next', :page_links => false, :param_name => :popular_streaming_page, :id => 'next', :class => 'like-btn', :container => false %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>